<!DOCTYPE html>
<html ng-app="testCtrlModule">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<script src="angular.min.js"></script>

<script type="text/javascript">
	console.log(angular);

	var module = angular.module("testCtrlModule", []);
	module.controller("testCtrl", function($scope) {
		$scope.value1 = 10;
		$scope.value2 = $scope.value1 + 10;
		console.log($scope.value2);
		console.log($scope);
		$scope.$watch(function($scope) {
			return $scope.value1;
		}, function(newValue, oldValue) {
			$scope.value2 = newValue * 2;
		});
	});
</script>
</head>
<body ng-controller="testCtrl">
	Value 1 :{{value1}}
	<br> value 1
	<input type="text" ng-model="value1">
	<br> value 2
	<input type="text" ng-model="value2">
	<br> value 3
	<input type="text" ng-model="value3">
	<br> Addition by 2 :{{value2}}
	<br> value 3:{{value3}}
	<br>
	<!-- <div ng-click="someFunction()"> -->

	</div>


</body>
</html>