<!DOCTYPE html>
<html ng-app="mainContainer">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<script src="angular.min.js"></script>
<script type="text/javascript">
	function User(uName, password, cpassword, genderName, jobstatus, dob) {
		this.uName = uName;
		this.password = password;
		this.cpassword = cpassword;
		this.genderName = genderName;
		this.jobstatus = jobstatus;
		this.dob = dob;
	}
	var module = angular.module("mainContainer", []);
	module.controller("registrationController", function($scope, $rootScope) {
		$scope.regValidate = function() {
			var uName = $scope.uName;
			var password = $scope.password;
			var cpassword = $scope.cpassword;
			var genderName = $scope.gender;
			var jobstatus = $scope.status;
			var dob = $scope.dob;
			var userObj = new User(uName, password, cpassword, genderName,
					jobstatus, dob);
			var JSONUserObj = JSON.stringify(userObj);
			localStorage.setItem(uName, JSONUserObj);
			console.log(uName);
			$rootScope.$broadcast("passingEvent", userObj);
		};
		});
	module.controller("displayContent", function($scope) {
		var userObjArray = [];
		for (var i = 0; i < localStorage.length; i++) {

			var key = localStorage.key(i);
			var JSONObj = localStorage.getItem(key);
			console.log(JSONObj);
			var JSObj = JSON.parse(JSONObj);
			userObjArray.push(JSObj);
		}

		$scope.$on("passingEvent", function(event, args) {
			userObjArray.push(args);
			$scope.employees = userObjArray;
		});
		$scope.employees = userObjArray;
	});
</script>
</head>
<body>
	<div ng-controller="registrationController">
		<fieldset>
			<legend>Registration</legend>
			<label>UserName:</label><input type="text" ng-model="uName"id="uName"> <br>
			 <label>Password:</label><input type="password" ng-model="password" id="password"><br>
			<label>Confirm Password:</label><input type="password" ng-model="cpassword" id="cpassword"><br>
			 <label>Job Status:</label><select ng-model="status" id="status">
				<option>jr</option>
				<option>mid</option>
				<option>sr</option>
			</select><br>
			 <label>Gender:</label><input type="radio" ng-model="gender" id="gender" value="female">Female
			  <input type="radio" ng-model="gender" id="gender" value="male">Male<br>
			   <label>DOB:</label><input type="datetime-local" ng-model="dob" id="dob"><br> <label>Submit:
			</label><input type="button" value="submit" ng-click="regValidate()">
			<br> <label>Reset:</label><input type="reset" value="reset"><br>
		</fieldset>
	</div>
	<div ng-controller="displayContent">
		<h1>User Details:</h1>
		<table border=1>
			<tr>
				<th>User Name</th>
				<th>Password</th>
				<th>Confirm Password</th>
				<th>Gender</th>
				<th>Job Status</th>
				<th>DOB</th>
			</tr>
			<tr ng-repeat="e in employees">
				<td>{{e.uName}}</td>
				<td>{{e.password}}</td>
				<td>{{e.cpassword}}</td>
				<td>{{e.genderName}}</td>
				<td>{{e.jobstatus}}</td>
				<td>{{e.dob}}</td>
			</tr>
		</table>



	</div>


</body>
</html>